.form-block{
  margin-bottom: 30px;
  position: relative;
  display: block;
}
.form-input{
  border: 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: solid 1px #2f3751;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  padding-bottom: 4px;
  padding-top: 26px;
  &.active {
    & + .form-placeholder {
      font-size: 12px;
      bottom: auto;
      top: 4px;
    }
  }
  &:focus {
    border-color: #fff;
    //box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
    background-color: #00000029;
    & + .form-placeholder{
      font-size: 12px;
      bottom: auto;
      top: 4px;
    }
  }
  &--password{
	padding-right: 30px;
  }
}
.form-placeholder{
  color: #69728b;
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  display: block;
  font-size: 14px;
  transition: all 0.2s;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #69728b;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #69728b;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #69728b;
}
:-moz-placeholder { /* Firefox 18- */
  color: #69728b;
}
.looking-this{
  position: absolute;
  width: 25px;
  height: 15px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  padding: 6px;
  margin-right: -6px;
  &:hover{
	& svg{
	  path{
		fill: #fff;
	  }
	}
  }
}
.fogot-link{
  font-size: 12px;
  line-height: 12px;
  color: #69728b;
  text-decoration: none;
  position: absolute;
  bottom: -16px;
  right: 0;
  user-select: none;
  &:hover{
	color: #fff;
  }
}