/*
 * **************************
 * file: ./_variables
 * **************************
 */
@import "_variables";
/*
 * **************************
 * file: ./_mixins
 * **************************
 */
@import "_mixins";
@import "_normalize.scss";
html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  height: 100%;
  color: #fff;
  font-size: 16px;
  font-family: 'formularregular';
  background-color: #000000;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding-top: 10px;
}
.container{
  padding: 0 $count;
}
.large-container{
  padding: 0 $count;
  padding-top: 50px;
  @include breakpoint(tablet) {
    padding: 0 60px;
    padding-top: 100px;
    padding-bottom: 45px;
  }
}

/*
 * **************************
 * file: ./_buttons.scss
 * **************************
 */
@import "_buttons.scss";

//@import "_header.scss";
//@import "_footer.scss";

/*
 * **************************
 * file: ./_main.scss
 * **************************
 */
@import "_main.scss";
/*
 * **************************
 * file: ./_form.scss
 * **************************
 */
@import "_form.scss";

.title{
  color: rosybrown;
}
.tools{
  color: tomato;
  font-size: 16px;
}

