

@font-face {
    font-family: 'formularbold';
    src: url('formular-bold-webfont.woff2') format('woff2'),
         url('formular-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'formularregular';
    src: url('formular-regular-webfont.woff2') format('woff2'),
         url('formular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}